{% extends 'auctions/layout.html' %}

{% block body %}
    <h3>Categories</h3>
    <form method="POST" action="{% url 'categories' %}">
        {% csrf_token %}
        <label for="category">Select a Category:</label>
        <select name="category" id="category">
            <option value="" selected hidden disabled>All Categories</option>
            {% for category in categories %}
                <option value="{{ category.name }}">{{ category.name }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>

    {% if selected_category %}
    <br><br>
        <h3>{{ selected_category }}</h3>
        <ul>
            <div class="container">
                {% for listing in listings %}
                    <div class="listing">
                        <a href="{% url 'listing' listing.id %}">
                            <h5>{{ listing.title }}</h5>
                            <p>{{ listing.description }}</p>
                            <p>Ask Price: {{ listing.valuta }}{{ listing.ask_price | floatformat:2 }}</p>
                            <p></p>
                        </a>
                    </div>
                {% empty %}
                    <h3>No active listings in this category available</h3>
                {% endfor %}
            </div>
        </ul>
    {% endif %}
{% endblock  %}