{% extends 'auctions/layout.html' %}

{% block body %}
    <h3>Your Watchlist</h3>
    <div class="container">
        {% for auction in watchlisted_auctions %}
            <ul>
                <li class="watchlist-li">
                    <a href="{% url 'listing' auction.id %}">
                        <h3>{{ auction.title }}</h3><br>
                    </a>
                </li>
            </ul>
        {% empty %}
            <h3>No watchlisted auctions yet...</h3>
        {% endfor %}
    </div>
{% endblock  %}